<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">CIUDADELA DE LA ALEGRIA</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/CarreraDeportiva.webp">


        </div>
        <div class="col-md-7 text-center">
            <h1 class="">CARRERAS ATLÉTICAS. <span class="text-muted">Si la mente lo cree, tus piernas obedecerán.</span></h1>
            <p class="lead ">apuntamos a que la ciudadanía caleña estimule la actividad física a través de eventos de ciudad gratuitos y uno de estos son nuestras carreras, ya que al ser para todo tipo de público genera un impacto masivo en la ciudad.

            </p>
            <div class="contenedor1">
                <a type="button" href="contacto" class="btn bazul btn-lg px-4 me-md-2 fw-bold botoncenter">Contactanos para mas informacion</a>
            </div>


        </div>



    </div>


    <hr class="featurette-divider">


</div>

<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1  text-black">CARRERAS ATLÉTICAS.
            </h1>
            <BR />
            <p class="lead  text-black">Se realizarán periódicamente durante todo el año y es por esto que en el 2023 tendremos 3 versiones con diferentes temáticas, en modalidades como 5k y 10k proximamente .

                .
                <BR />
                <BR />
               <!-- <a class="w-100 btn btn-secondary text-white" href="carrera/validar"
                    type="submit">Validar Inscripcion</a>-->
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <div class="mrgbtnimg">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Carreras</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Evento</th>
                            <th scope="col">Fechas</th>
                        </tr>
                        <tr>
                            <td>Carrera
                            </td>
                            <td>Finales de 2023
                            </td>
                        </tr>
                        <tr>
                            <td>Carrera 7k de la Familia
                            </td>
                            <td>28 de Mayo
                            </td>
                        </tr>
                        <tr>
                            <td>Carrera 7k de la Mujer
                            </td>
                            <td>26 de Marzo
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-footerp></app-footerp>