<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">
        BALONCESTO EN FAMILIA.</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" title="Placeholder" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" src="../../../assets/BaloncestoEnFamilia.webp"  alt="Baloncesto en Familia"  width="500"
                height="500" src="../../../assets/BaloncestoEnFamilia.webp">


        </div>
        <div class="col-md-7 text-center">
            <h1 class="">Baloncesto en Familia.<span class="text-muted">Conseguir buenos jugadores es fácil. Conseguir que jueguen juntos es la parte más difícil</span></h1>
            <p class="lead ">Juntando la familia se promueve el baloncesto fomentando el deporte apoyando a nuestro equipo de la ciudad.
            </p>
            <div class="contenedor1">
                <a type="button" href="contacto" class="btn bazul btn-lg px-4 me-md-2 fw-bold botoncenter">Contactanos para mas informacion</a>
            </div>


        </div>




    </div>


    <hr class="featurette-divider">


</div>

<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1  text-black">Baloncesto en Familia
            </h1>
            <BR />
            <p class="lead  text-black">El programa Baloncesto en familia consta de vivir el baloncesto disfrutar de este grandeporte y apoyar a nuestro equipo representativo de la ciudad
                .
                <BR />
                <BR />
               <!-- <a class="w-100 btn btn-secondary text-white" href="carrera/validar"
                    type="submit">Validar Inscripcion</a>-->
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <div class="mrgbtnimg">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Baloncesto en Familia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Evento</th>
                            <th scope="col">Fechas</th>
                        </tr>
                        <tr>
                            <td>Partidos Team Cali
                            </td>
                            <td>Proximamente
                            </td>
                        </tr>
                        <tr>
                            <td>Partidos Team Cali
                            </td>
                            <td>Proximamente
                            </td>
                        </tr>
                        <tr>
                            <td>Partidos Team Cali
                            </td>
                            <td>Proximamente
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-footerp></app-footerp>