<header>
    <div class="px-3 py-2  text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a title= imagen href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img alt=recurso src="../../assets/Recurso 5.png" width="60%">
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

                    <li>
                        <a href="/asd" class="nav-link text-secondary">
                            Salir
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>