<app-navbarp></app-navbarp>


<div class="b-example-divider"></div>

<div class="px-5  my-5 text-center ">

    <h1 class="display-5 fw-bold">CIUDADELA DE LA ALEGRIA</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">


    <div class="container my-5 ">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
    
            <div class="col-lg-4 offset-lg-1 p-0 ">
                <div class="mrgbtnimg">
                    <h1 class="display-4 fw-bold lh-1  text-black">Inscripciones Ciudadelas Cerradas</h1>
                    <BR />
                    <p class="lead  text-black">

Estar pendiente de las redes sociales ya que el dia       Sabado 16 y domingo 17 se realizara una nuevas ciudadela               </p>
                </div>
            </div>
     
        </div>
    </div>
    

    <div class="row ">
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../../assets/ciudadela.webp">


        </div>
        <div class="col-md-7 text-center">
            <h1 class="">CIUDADELA DE LA ALEGRIA. <span class="text-muted">Sonríe, sueña y diviértete</span></h1>
            <p class="lead ">‘Ciudadela de la Alegría’ disfruta junto a tu familia de más de 40 estaciones deportivas,
                recreativas y lúdicas dentro de la unidad deportiva Jaime Aparicio.
            </p>
            <!--      <div class="contenedor1">
                <a type="button" href="contacto" class="btn bazul btn-lg px-4 me-md-2 fw-bold botoncenter">Contactanos para mas informacion</a>
            </div>
-->


        </div>




    </div>


    <hr class="featurette-divider">


</div>




<app-footerp></app-footerp>