<app-navbarp></app-navbarp>




<div class="b-example-divider "></div>

<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg fondo">
            <form class="p-4 p-md-5 border rounded-3 bg-light fondo2  letra" action="" >
                <h3 class="display-4 fw-bold lh-1 mb-3 text-center">Validar si estas participando en la carrera


                </h3>
                <H1>Numero de Identificaión del Participante</H1>







                <div class="form-floating mb-3">
                    <input class="form-control fondo2 " name="variable1" id="variable1"
                        [(ngModel)]="nuevoUsuario.variable1" placeholder="variable1" required>
                    <label for="floatingPassword">Número de documento del participante</label>
                </div>










                <button class="w-100 btn btn-lg btn btn-dark" (click)="validarinscripcion()" type="submit">Validar</button>

            </form>

    </div>
  </div>


  <div class="b-example-divider"></div>

<app-footerp></app-footerp>
