<header class="navbar-container">
  <div class="container">
    <nav class="navbar">
      <!-- LOGO -->
      <a href="inicio" class="logo">
        <img src="../../assets/Recurso 5.png" alt="Cali Ciudad Deportiva">
      </a>
      <!-- Izquierda: título -->

      <!-- BOTÓN MENÚ RESPONSIVE -->
      <button class="menu-toggle" onclick="toggleMenu()">☰</button>

      <!-- MENÚ -->
      <nav class="nav-links">
        <a routerLink="/inicio" routerLinkActive="active" class="nav-item">Inicio</a>
        <a routerLink="/nosotros" routerLinkActive="active" class="nav-item">Quiénes Somos</a>
        <a routerLink="/contacto" routerLinkActive="active" class="nav-item">Contacto</a>
        <a routerLink="/nosotros" routerLinkActive="inactive" class="nav-item btn-primary">Organizador</a>
        <a routerLink="/contacto" routerLinkActive="active" class="nav-item btn-primary">Ingresar</a>
      </nav>
    </nav>
  </div>
</header>