<div style="width: 100%; height: 8px; background-color: #343a40;"></div>
<header class="navbar-container">
  <div class="navbar-content">
    <!-- LOGO / TÍTULO -->
    <!-- <a href="/" class="logo">
      <img src="../../assets/Recurso 5.png" alt="Passtrackid Logo" />
    </a> -->

    <span class="navbar-title" style="color: white; font-size: 32px; font-weight: bold;">
      Passtrackid
    </span>

    <!-- BOTÓN MENÚ RESPONSIVE -->
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>

    <!-- MENÚ -->
    <nav class="nav-links" id="navLinks">
      <a routerLink="/inicio" routerLinkActive="active" class="nav-item">Inicio</a>
      <a routerLink="/nosotros" routerLinkActive="active" class="nav-item">Quiénes Somos</a>
      <a routerLink="/contacto" routerLinkActive="active" class="nav-item">Contacto</a>
      <a href="http://localhost:4200" class="nav-item btn-primary">Organizadores</a>
      <a routerLink="/nosotros" routerLinkActive="" class="nav-item btn-primary">Ingresa</a>
    </nav>
  </div>
</header>
