<div data-bs-spy="scroll" class="estilo">
    <h5>Terminos y condiciones</h5>


    <p>
    La Constitución Nacional en su artículo 15 enuncia que: "Todas las personas tienen derecho a su intimidad personal y familiar y a su buen nombre, y el Estado debe respetarlos y hacerlos respetar' este derecho es entendido como el marco legal del derecho de protección de datos personales. Es el derecho de toda persona sin distinción de edad, sexo, raza, orientación sexual entre otros, para conocer, actualizar, rectificar y/o cancelar al información ydatos personales que de ella se hayan recolectado y/o se traten en bases de datos públicas o privadas. Mediante la Ley 1581 del 17 de octubre de 2012, reglamentado por el Decreto 1081 de 2015, Decreto 137 del 2013 y86 del 2014, hoy incorporados ne el Decreto único 1074 de 2015, entre otros.

    RECREAVALLE, como entidad de articulación intersectorial que promueve, construye y facilita la ejecución de políticas, planes y programas que fortalecen el deporte, la cultura, al recreación, la salud, el turismo, el arte, al infraestructura, al ciencia, la tecnología y el medio ambiente a través del aprovechamiento del tiempo libre, es conocedora de la responsabilidad que le asiste en materia de tratamiento de datos personales de los titulares en conjunto con la garantía que tienen todas las personas a conocer, actualizar, rectificar, suprimir y revocar la autorización respecto a las informaciones que hayan recogido sobre ellas en las bases de datos que
    RECREAVALLE, ha recopilado o recopile para las tinalidades previstas en la ley y las autorizaciones respectivas, las cuales han sido tratadas conforme a lo establecido por el régimen nacional de
    protección de datos personales.

    La POLÍTICA PARA LE TRATAMIENTO DE DATOS PERSONALES de RECREAVALE es de carácter obligatorio para todas las personas naturales o jurídicas que hagan tratamiento de los datos
    personales registrados en las bases de datos de la Entidad, con el fin de proporcionar los lineamientos necesarios para el cumplimiento de las obligaciones legales en materia de protección de datos personales.

    RECREAVALLE informara a todos los interesados, que los datos personales que obtenga en virtud de las operaciones que se soliciten o celebren con la Entidad, serán tratados conforme a los principios y deberes definidos en al ley 1581 de 2012 ydemás normas que traten yregulen esta materia con sus respectivas modificaciones o adiciones.

    Adicionalmente aceptas el tratamiento de datos de Recreavalle que esta en el documento

    Con la aceptación de esta “Aceptar terminos y condiciones” reconozco que he leído íntegramente y entendido
    plenamente lo anterior.



    </p>
    <a href="../../../../assets/politica.pdf" download="documento.pdf">Descargar Politica de tratamiento de datos</a>


    Con la aceptación de esta “Aceptar terminos y condiciones” reconozco que he leído íntegramente y entendido
    plenamente lo anterior.

</div>


<br><br><br><br><br>

